extends ../layouts/default-layout

block title
  title Trang chủ

block header-top-menu
  .header__top-menu
    .header__top-menu--absolute
      include ../partials/header-top-menu

block header-slide
  include ../partials/header-slide

block container